
.Stepper {
  --font-size: 12px;
  --item-size: calc(3 * var(--font-size));
  --item-spacing: calc(var(--font-size) / 8);

  display: flex;
  flex-direction: row;

  font-size: var(--font-size);
  font-family: Verdana, Arial, sans-serif;
  height: var(--item-size);
}

.Stepper_item {
  flex: none;
  min-width: var(--item-size);
  padding: 0 calc(var(--item-size) / 3);

  margin: 0 var(--item-spacing);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eee;
  color: #777;

  text-transform: uppercase;

  cursor: pointer;
}
.Stepper_item__selected {
  background-color: grey;
  font-weight: bold;
  color: #000;
}

.Arrow {
  font-size: calc(1.5 * var(--font-size));
  position: relative;
  top: calc(-0.03 * var(--font-size));
}
